<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Smoothiesovellus</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Smoothielista</h1>

        <ol>
            <li th:each="resepti : ${reseptit}">
                <span th:text="${resepti}">Reseptin nimi</span>
            </li>
        </ol>

        
        <p><a href="/raaka-aineet">Lisää raaka-aineita</a></p>

        <p><a href="/smoothiet">Lisää smoothieresepti</a></p>
        
    </body>
</html>