<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aine tyypit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-aine tyypit</h1>
        <ul>
            <li th:each="kategoria : ${kategoriat}">
                <span th:text="${kategoria}"></span>
                <a th:href="@{~/kategoria/poista/{id}(id=${kategoria.id})}">(poista)</a>
            </li>
        </ul>
        <br />
        <h2>Lisää kategoria</h2>
        <form method="POST" action="/kategoriat">
                Nimi:<br/>
                <input type="text" name="kategoria" autofocus="autofocus"/><br/>
            <input type="submit" value="Lisää kategoria"/>
        </form>
        <br />
        <a href="/">Smoothielistaukseen</a>
    </body>
</html>