<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-ainetyypit</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-ainetyypit</h1>
        <ul>
            <li th:each="kategoria : ${kategoriat}">
                <span th:text="${kategoria.nimi}"></span>
                <form th:method="POST" th:action="@{~/kategoriat/poista/{id}(id=${kategoria.id})}">
                    <input type="submit" value="(poista)" />
                </form>
            </li>
        </ul>
        <br />
        <h2>Lisää kategoria</h2>
        <form method="POST" action="/kategoriat">
                Nimi:<br/>
                <input type="text" name="kategoria" autofocus="autofocus"/><br/>
            <input type="submit" value="Lisää kategoria"/>
        </form>
        <br />
        <a href="/">Smoothielistaukseen</a>
    </body>
</html>