<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-aineet</h1>
        <ul>
            <li th:each="raakaAine : ${raakaAineet}">
                <span th:text="${raakaAine}"></span>
                <a th:href="@{~/raaka-aine/poista/{id}(id=${raakaAine.id})}">(poista)</a>
            </li>
        </ul>
        <br />
        <h2>Lisää raaka-aine</h2>
        <form method="POST" action="/raaka-aineet">
            Tyyppi <br />
            <select name="kategoriaId">
                <option th:each="kategoria : ${kategoriat}" th:value="${kategoria.id}" th:text="${kategoria.nimi}">
                    Tyyppi
                </option>
            </select>
            <br />Nimi:<br/>
            <input type="text" name="raakaAine" autofocus="autofocus"/><br/>
            <input type="submit" value="Lisää raaka-aine"/>
        </form>
        <br />
        <a href="/">Smoothielistaukseen</a>
    </body>
</html>