<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Raaka-aineet</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Raaka-aineet</h1>
        <ol>
            <li th:each="raakaAine : ${raakaAineet}">
                <span th:text="${raakaAine}">Raaka-aine</span>
            </li>
        </ol>
        
        
        <form method="POST" action="/raaka-aineet">
            Lisää raaka-aine:<br/>
            <input type="text" name="raakaAine"/><br/>
            <input type="submit" value="Lisää raaka-aine"/>
        </form>
        
      

    </body>
</html>
