<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TO DO</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Hei <span th:text="${resepti.nimi}">opiskelija</span>!</h1> 

        <ol>
            <li th:each="raakaAine : ${resepti}">
                <span th:text="${raakaAine}">Raaka-aineen nimi</span>
            </li>
        </ol>
        
        <br />
        <a href="/smoothiet">Takaisin</a>
    </body>
</html>