<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>Smoothiet</title>
        <meta charset="utf-8" />

    </head>
    <body>
        <div>TODO write content</div>

        <ol>
            <li th:each="resepti : ${reseptit}">
                <a th:href="@{~/smoothiet/{id}(id=${resepti.id})}" th:text="${resepti}">Reseptin nimi</a>
            </li>
        </ol>

        <form method="POST" action="/smoothiet">
            Lisää smoothie:<br/>
            <input type="text" name="smoothie"/><br/>
            <input type="submit" value="Lisää smoothie"/>
        </form>
        <br />
        <a href="/">Smoothielistaukseen</a>
    </body>
</html>
