<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${resepti.nimi}"></title>
        <meta charset="utf-8" />

    </head>
    <body>
        <h1  th:text="${resepti.nimi}"></h1>

        <ul>
            <li th:each="raakaAine : ${raakaAineet}">
                <!--<span th:text="${raakaAine.nimi}"></span> -->
                <th:block th:each="maara : ${maarat}">
                   <tr th:if="${maara.raakaAineId} == ${raakaAine.id}">
                        <td th:text="${raakaAine.nimi}"></td>
                        <td th:text="${maara.maara}"></td>
                    </tr>
                </th:block>
            </li>
        </ul>
       <br />
       <a href="/">Smoothielistaukseen</a>
        

    </body>
</html>
